BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 80
SortIncludes: true
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
    SortPriority: 0
  - Regex: '^".*"'
    Priority: 2
    SortPriority: 0
